.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, auto) auto;
  grid-template-areas: "title" "button", "description" "description";
}

.profile__name {
  margin: 0;
  text-wrap: nowrap;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  grid-area: "title";
}

.profile__description {
  margin: 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  grid-area: "description";
  margin-top: 7px;
}

.profile__edit-button {
  background: url(../images/edit\ button.svg) center no-repeat;
  border: solid white;
  margin: 15px 0 9px 18px;
  width: 24px;
  height: 24px;
  grid-area: "button";
  transition: opacity 0.5s;
}

.profile__edit-button:hover {
  opacity: 30%;
}

.profile__add-button {
  background: url(../images/add\ button.svg) center no-repeat;
  padding: 0;
  border: solid white;
  width: 150px;
  height: 50px;
  display: flex;
  margin-left: auto;
  transition: opacity 0.5s;
}

.profile__add-button:hover {
  opacity: 30%;
}
