.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, auto) auto;
}

.profile__name {
  margin: 0;
  text-wrap: nowrap;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}

.profile__description {
  margin: 7px 0 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.profile__edit-button {
  background: url(../images/edit\ button.svg) center no-repeat;
  border: solid white;
  margin: 15px 0 9px 18px;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s;
  border-width: 1px;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: url(../images/add\ button.svg) center no-repeat;
  padding: 0;
  border: solid white;
  width: 150px;
  height: 50px;
  display: flex;
  margin-left: auto;
  transition: opacity 0.5s;
  border-width: 2px;
  border-radius: 3px;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile__name {
    font-size: 22px;
    margin-right: 10px;
  }

  .profile__edit-button {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 282px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__name {
    text-align: center;
    margin: 0 0 14px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 26px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0 0 36px;
  }

  .profile__edit-button {
    max-width: 100%;
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }

  .profile__add-button {
    width: 100%;
  }
}