.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, auto) auto;
  column-gap: 10px;
  row-gap: 7px;
}

.profile__name {
  margin: 0;
  text-wrap: nowrap;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: url(../images/edit\ button.svg) center no-repeat;
  border: solid white;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s;
  border-width: 1px;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: url(../images/add\ button.svg) center no-repeat;
  padding: 0;
  border: solid white;
  width: 150px;
  height: 50px;
  display: flex;
  margin-left: auto;
  transition: opacity 0.5s;
  border-width: 2px;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 775px) {
  .profile__edit-button {
    margin-right: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    padding-left: 0;
    padding-right: 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__name {
    text-align: center;
    font-size: 22px;
    margin: 0 0 14px;
    max-width: 196px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 26px;
  }

  .profile__description {
    max-width: 196px;
    font-size: 14px;
    text-align: center;
    margin: 0 0 36px;
  }

  .profile__edit-button {
    max-width: 100%;
    margin: 5px 0;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 100%;
  }
}
